# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/

# =========================
# Model Files (Large)
# =========================
models/*.h5
models/*.pkl

# =========================
# Dataset (ignore if large)
# =========================
data/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & Temp
# =========================
*.log
*.tmp
*.temp

# =========================
# TensorFlow / Checkpoints
# =========================
*.ckpt
*.index
*.data-00000-of-00001
checkpoint